<IfModule mod_rewrite.c></IfModule>

<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <configSections>
        <sectionGroup name="system.webServer">
            <sectionGroup name="rewrite">
                <section name="rewriteMaps" overrideModeDefault="Allow"/>
                <section name="rules" overrideModeDefault="Allow"/>
            </sectionGroup>
        </sectionGroup>
    </configSections>

    <system.webServer>
        <rewrite>
            <rules>
                <rule name="rule 1M">
                    <match url="^trans.gif"/>
                    <action type="Rewrite" url="/includes/beacon.php"/>
                </rule>
                <rule name="rule 2M" stopProcessing="true">
                    <match url="^image/([a-zA-Z0-9\-]+)"/>
                    <action type="Rewrite" url="/image.php?slug={R:1}" appendQueryString="true"/>
                </rule>
                <rule name="rule 3M" stopProcessing="true">
                    <match url="^video/([a-zA-Z0-9\-]+)"/>
                    <action type="Rewrite" url="/image.php?slug={R:1}" appendQueryString="true"/>
                </rule>
                <rule name="rule 4M" stopProcessing="true">
                    <match url="^audio/([a-zA-Z0-9\-]+)"/>
                    <action type="Rewrite" url="/image.php?slug={R:1}" appendQueryString="true"/>
                </rule>
                <rule name="rule 5M">
                    <match url="^order-by/(.*)$"/>
                    <action type="Rewrite" url="/index.php?order-by={R:1}"/>
                </rule>
                <rule name="rule 6M">
                    <match url="^search/(.*)$"/>
                    <action type="Rewrite" url="/index.php?s={R:1}"/>
                </rule>
                <rule name="rule 7M">
                    <match url="^gallery/([^/]+)$"/>
                    <action type="Rewrite" url="/index.php?gallery={R:1}"/>
                </rule>
                <rule name="rule 8M">
                    <match url="^gallery/([^/]+)/order-by/(.*)$"/>
                    <action type="Rewrite" url="/index.php?gallery={R:1}&amp;order-by={R:2}"/>
                </rule>
                <rule name="rule 9M">
                    <match url="^gallery/(.*)/(.*)/order-by/(.*)$"/>
                    <action type="Rewrite" url="/index.php?media={R:1}&amp;gallery-name={R:2}&amp;order-by={R:3}"/>
                </rule>
                <rule name="rule 10M">
                    <match url="^gallery/(.*)/(.*)$"/>
                    <action type="Rewrite" url="/index.php?media={R:1}&amp;gallery-name={R:2}"/>
                </rule>
                <rule name="rule 11M">
                    <match url="^tag/(.*)$"/>
                    <action type="Rewrite" url="/index.php?tag={R:1}"/>
                </rule>
                <rule name="rule 12M">
                    <match url="^media/images/order-by/([^/]+)" ignoreCase="true"/>
                    <action type="Rewrite" url="/index.php?media=1&amp;order-by={R:1}"/>
                </rule>
                <rule name="rule 13M">
                    <match url="^media/videos/order-by/([^/]+)" ignoreCase="true"/>
                    <action type="Rewrite" url="/index.php?media=2&amp;order-by={R:1}"/>
                </rule>
                <rule name="rule 14M">
                    <match url="^media/audios/order-by/([^/]+)" ignoreCase="true"/>
                    <action type="Rewrite" url="/index.php?media=3&amp;order-by={R:1}"/>
                </rule>
                <rule name="rule 15M">
                    <match url="^media/audios"/>
                    <action type="Rewrite" url="/index.php?media=3"/>
                </rule>
                <rule name="rule 16M">
                    <match url="^media/videos"/>
                    <action type="Rewrite" url="/index.php?media=2"/>
                </rule>
                <rule name="rule 17M">
                    <match url="^media/images"/>
                    <action type="Rewrite" url="/index.php?media=1"/>
                </rule>
                <rule name="rule 18M" stopProcessing="true">
                    <match url="^members$"/>
                    <action type="Rewrite" url="/members.php"/>
                </rule>
                <rule name="rule 19M">
                    <match url="^members/(.*)$"/>
                    <action type="Rewrite" url="/members.php?section={R:1}"/>
                </rule>
                <rule name="rule 20M">
                    <match url="^(.+)\??(.*)$"/>
                    <action type="Rewrite" url="/member.php"/>
                </rule>
                <rule name="rule 21M">
                    <match url="^/(.+)\??(.*)$"/>
                    <action type="Rewrite" url="//%1/%2?"/>
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="index.php"/>
                <add value="index.php"/>
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
